algoliasearch==2.6.3
algoliasearch-django==2.0.0
asgiref==3.8.1
bleach==6.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
Django==4.0.10
django-cors-headers==4.4.0
django-countries==7.6.1
django-debug-toolbar==4.3.0
django-storages==1.14.3
django-summernote==0.8.20.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
idna==3.7
PyJWT==2.8.0
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
typing-extensions==4.12.2
urllib3==2.2.2
webencodings==0.5.1
coverage
gunicorn
stripe